body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	background-color: darkcyan;
	background-image: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

img {
	width: 40px;
	background: transparent;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	min-height: 40vh;
	min-width: 40vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}

.noimg-button {
	font-family: 'Josefin Sans', sans-serif;
	height: 50px;
	width: 150px;
	border-radius: 30px;
	border: 1px solid white;
	background-color: transparent;
	cursor: pointer;
	color: white;
	transition: background-color 0.4s, color 0.4s;
}

.wrapper__pomodoro-buttons {
	width: 100%;
	display: flex;
	column-gap: 20px;
	justify-content: center;
}

.wrapper__time {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 140px;
	color: white;
}

.wrapper__clock-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.clock-actions__start {
	background-color: white;
	font-size: 30px;
	color: #742b66;
}


.clock-actions__settings {
	background-color: transparent;
}

.none {
	display: none;
}

/* для JS слушателей */
.clicked {
	color: #742b66;
	background-color: white;
}

.start-clicked {
	background-color: transparent;
	color: white;
}
/* для JS слушателей */

/* чтобы hover не работал на телефоне */
@media (hover: hover) {
	.noimg-button:hover {
		background-color: white;
		color: #742b66;
	}

	.clock-actions__start:hover {
		background-color: transparent;
		color: white;
	}
}

/* мини адаптив */
@media (max-width: 500px) {
	.wrapper__pomodoro-buttons {
		flex-direction: column;
		row-gap: 10px;
		align-items: center;
	}
}

@media (max-width: 360px) {
	.wrapper__time {
		font-size: 120px;
	}
}
